*{
    color: #0D0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
body{
    margin: 0;
    background-color: #D9D4D2;
}
.container{
    display: flex;
    flex-direction: column;
}
.left{
    display: inline-block;
    width: 100vw;
    height: 50vh;
}
.logotipo{
    margin: 3vh 3vw;
    width: 40vw;
}
.principal{
    position: relative;
    width: 100vw;
    margin: 5vh 0;
}
.title{
    font-weight: bold;
    text-align: center;
    font-size: 2.5vh;
    text-transform: uppercase;
    margin: 0 1rem 0.5rem;
}
.subtitle{
    text-align: center;
    font-size: 2vh;
    text-transform: uppercase;
    padding: 0 2.2em;
    margin-bottom: 0.5rem;
}
.button{
    display: block;
    margin: 0 auto;
}

.right{
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: linear-gradient(#0d0000cc, #0d0000);
    box-shadow: 0 -5px 6px #00000066;

}
.horno{
    display: block;
    height: 75vh;
    margin: 10vh auto;
}
.switch3d{
    position: absolute;
    z-index: 30;
    top: 3%;
    left: 70%;
    width: 25vw;
}

/*///////////////////*/
.header{
    width: 100%;
    position: absolute;
    top: -53%;
    left: 0;
    z-index: 50;
}
.btn-menu{
    display: none;
}
.icon-menu{
    display: block;
    background-image: url('asset/menu.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
    transition: all 50ms ease;
    margin: 10px;
    position: relative;
    left: 85vw;
    z-index: 50;
}
.menu{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    background-color: #D9D4D2;
    width: 100%;
    padding: 0;
    margin-top: -100%;
    list-style: none;
    transition: all 500ms ease;
    z-index: 30;
}
.menu__item{
    display: block;
    padding: 1.6vh;
    font-weight: 600;
    color: #73655D;
    font-size: 3vh;
}
.menu__item a{
    text-decoration: none;
    color: #73655D;
}
.menu__item img{
    width: 3vh;
}
.btn-menu:checked + .menu{
    margin: 0;
    transition: all 500ms ease;
}
/* DESKTOP */
@media screen and (min-width:480px){
    .container{
        display: flex;
        flex-direction: row;
    }
    .left{
        display: inline-block;
        width: 55vw;
        height: 100vh;
    }
    .logotipo{
        margin: 3vh 2vmax;
        width: 20vw;
    }
    .principal{
        position: relative;
        width: 100%;
        height: 40%;
        margin: 10vmax 0;
    }
    .title{
        font-weight: bold;
        text-align: start;
        font-size: 3vmax;
        text-transform: uppercase;
        margin: 0 10vmax 1.5vmin 2vmax;
    }
    .subtitle{
        text-align: start;
        font-size: 1.8vmax;
        text-transform: uppercase;
        margin: 0 10vmax 1.5vmin 2vmax;
        padding: 0;
    }
    .button{
        display: block;
        width: 15vmax;
        margin: 0 1.5vmax;
    }
    .right{
        position: relative;
        display: inline-block;
        width: 45vw;
        height: 100vh;
        background-image: linear-gradient(#0d0000cc, #0d0000);
        box-shadow: -5px 0 6px #00000066;
    }
    .horno{
        display: block;
        width: 50vh;
        margin: 15vh auto;
        object-fit: contain;
    }
    .off{
        opacity: 0;
    }
    .loading{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(#0d0000e5, #0d0000);
    }
    .loader{
        margin: 50% 0;
        text-align: center;
        font-weight: bold;
        font-size: 2vw;
        color: white;
    }
    .fade{
        opacity: 0;
        transition: all 500ms ease;
    }
    .switch3d{
        position: absolute;
        z-index: 30;
        top: 90%;
        left: 80%;
        width: 8vw;
    }
    .header{
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }
    .btn-menu{
        display: none;
    }
    .icon-menu{
        display: none;
        background-image: url('asset/menu.png');
        background-repeat: no-repeat;
        width: 30px;
        height: 40px;
        transition: all 50ms ease;
        margin: 10px;
    }
    .menu{
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: transparent;
    }
    .menu__item{
        display: block;
        padding: 4vh 2vw;
        font-weight: 600;
        color: #E1E1E1;
        font-size: 1vw;
    }
    .menu__item a{
        text-decoration: none;
        color: inherit;
    }
    .menu__item img{
        width: 1.5vw;
    }
    .canvas{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 35vw;
        height: 80vh;
        display: block;
        margin: auto;
    }
}


